#vendas-sec{
    padding: 40px 10px;
}

.container-form{
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

.card{
    border-radius: 10px;
    background-color: #283142;
    padding: 35px;
}

.card h2{
    color: #676FFF;
    margin-bottom: 20px;
}