.container-table{
    padding: 10px;
}

.table-vendas{
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

.table-vendas thead{
    height: 55px;
    font-size: 16px;
    color: #E9E9E9;
    font-weight: 700;
}

.table-vendas tbody{
    font-weight: 400;
    color: #CFCFCF;
    text-align: center;
    font-size: 18px;
}

.table-vendas tbody tr{
    border-top: 1px solid #5F6E82;
    height: 62px;
}

.table-vendas tbody tr:hover > td{
    background-color: #384459;
}

.table-vendas tbody tr:nth-child(odd){
    background-color: #242C3B;
}

@media(max-width: 576px){
    .none-576{
        display: none;
    }
}

@media(max-width: 380px){
    .card{
        padding: 30px 10px;
    }

    .table-vendas{
        font-size: 14px;
    }

    .table-vendas tbody tr{
        height: 74px;
        font-size: 18px;
    }
    
    .none-320{
        display: none;
    }
}