@import url('https://fonts.googleapis.com/css2?family=Fredoka&family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    box-sizing: border-box;
    color: #fff;
}

body{
    background-color: #000;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}

a, a:hover, a:visited {
    text-decoration: none;
    color: unset;
}

.container-header p{
    font-weight: 300;
    font-size: 14px;
}

.container-header h1{
    margin-top: 15px;
    font-size: 24px;
    font-weight: 700;
}

/* main{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
} */

.container-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-image: linear-gradient(180deg, #102347, #181818);
    width: 100vw;
    height: 220px;
}

.container-header img{
    width: 220px;
}

#vendas-sec{
    padding: 40px 10px;
}


.container-form{
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

.card{
    border-radius: 10px;
    background-color: #283142;
    padding: 30px 10px;
}

.card h2{
    color: #676FFF;
    margin-bottom: 20px;
}

.form{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    position: relative;
    left: 0;
}

.input-data{
    height: 46px;
    margin: 5px;
    border: solid #384459 1px;
    border-radius: 5px;
    background-color: #1B2531;
    color: #9AAABE;
    padding: 0 20px;
}

.container-table{
    padding: 10px;
}

.table-vendas{
    width: 100%;
    padding: 5px;
    text-align: center;
}

.table-vendas thead{
    height: 55px;
}

.icon{
    background: #FF6B7210;
    width: 45px;
    height: 45px;
    border: 1px solid #FF6B72;
    border-radius: 10px;
}

@media(min-width: 371px){
    .input-data{
        width: 300px;
    }
}

@media(max-width: 370px){
    .input-data{
        width: 280px;
    }
}

@media(max-width: 320px){
    .input-data{
        width: 100%;
    }
}